{% extends 'header.html' %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Dodge.kr : 커뮤니티</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/communityboard.css' %}">
    </head>

    <section class="container__board">
        <div class="board__title">
            커뮤니티 : 리그오브레전드와 관련된 글을 자유롭게 쓸 수 있는 공간입니다.
        </div>

        <div class="board__table">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>내용</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                {% for list in boards %}
                    <tr>

                        <td>{{ list.id }}</td>
                        <td>{{ list.title }}</td>
                        <td>{{ list.user_id }}</td>
                        <td>{{ list.view_count }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
        <a href="" class="btn btn-default pull-right">글쓰기</a>
        <div class="board__page">
            {% for page in pageList %}
                <ul class="pagination">
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                </ul>
            {% endfor %}
        </div>

        <div class="board__search">

        </div>
    </section>

{% endblock %}
