<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!--    &lt;!&ndash; 합쳐지고 최소화된 최신 자바스크립트 &ndash;&gt;-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->

</head>
<body>

<!--navbar-->
<nav id="navbar">
    <div class="navbar__logo">Dodge.kr</div>
    <div class="navbar__menu__div">
        <ul class="navbar__menu">
            <li class="navbar__menu__items">services</li>
            <li class="navbar__menu__items">muli-search</li>
            <li class="navbar__menu__items">community</li>
        </ul>
        <span class="glyphicon glyphicon-log-in" id="navbar__menu__login" aria-hidden="true"></span>
    </div>
</nav>

<!--container__1-->
<div class="container__1">


    <!--logo-->
    <section id="logo">
        <div class="logo__logo">
        </div>
    </section>

    <!--search-->
    <section id="search">

        <form action="">
            <div class="search__searchbar">
                <input type="text" class="search__searchbar__summonersearch" placeholder="소환사명">
                <button class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </form>

    </section>

    <!--board-->
    <section id="board">
        <div class="board__mainboard">
        </div>
    </section>

    <!--footer-->
    <section id="footer">
        <div class="footer__reserve">2022 chaewon, Andrew kwak - All right reserved</div>
    </section>

</div>
</body>
</html>