{% extends 'base.html' %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Dodge.kr : 게시글 작성</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/editboard.css' %}">
        {% load static %}
        <script src="{% static 'js/editboard.js' %}"></script>
    </head>
    <section class="container__editboard">
        <div class="writeboard__div">
            <form action="{% url 'editBoardCompleted' %}" class="editboard__form" method="post">
                {% csrf_token %}
                <input type="hidden" name="boardId" id="boardId" value="{{ board.id }}">
                <input type="text" name="title" id="title" placeholder="제목을 입력해주세요." value="{{ board.title }}">
                <input type="text" name="user" id="user" value="{{ user.username }}">
                <div class="editboard__warning">
                    ※ 음란물, 차별, 비하, 혐오 및 초상권, 저작권 침해 게시글은 민, 형사상의 책임을 질 수 있습니다.
                </div>
                <textarea name="content" id="content" cols="30" rows="10">{{ board.content }}</textarea>
                <input type="file" id="img_file" name="img_file" accept="image/gif, image/jpeg, image/png">
                <div>
                    <div class="btn btn-default pull-right"><a href="{% url 'community' %}">취소</a></div>
                    <button class="btn btn-default pull-right" onclick="EditBoard()">수정</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

