{% extends 'header.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Dodge.kr</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!--    &lt;!&ndash; 합쳐지고 최소화된 최신 자바스크립트 &ndash;&gt;-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
</head>

<!--container__1-->
<div class="container__1">

    <!--logo-->
    <section id="logo">
        <div class="logo__logo">
        </div>
    </section>

    <!--search-->
    <section id="search">
        <form action="">
            <div class="search__searchbar">
                <input type="text" class="search__searchbar__summonersearch" placeholder="소환사명">
                <button class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </form>

    </section>

    <!--board-->
    <section id="board">
        <div class="board__mainboard">
        </div>
    </section>

    <!--footer-->
    <section id="footer">
        <div class="footer__reserve">2022 chaewon, Andrew kwak - All right reserved</div>
    </section>
</div>
{% endblock %}