<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

    <!--    &lt;!&ndash; 합쳐지고 최소화된 최신 자바스크립트 &ndash;&gt;-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->

</head>
<body>
<div class="signup__container">
    <div class="signup__container__logo"><h1>Sign up</h1></div>
    <form action="">
        <div class="signup__container__id"><input type="text" placeholder="아이디"></div>
        <div class="signup__container__pw"><input type="password" placeholder="비밀번호"></div>
        <div class="signup__container__chkpw"><input type="password" placeholder="비밀번호 확인"></div>
        <div class="signup__container__email"><input type="email" placeholder="email"></div>
        <div class="signup__container__phonenum"><input type="tel" placeholder="전화번호"></div>
        <div class="signup__container__birth"><input type="date" placeholder="생년월일"></div>
        <div class="signup__container__signup">
            <button class="btn btn-info" id="signupbtn">회원가입</button>
            <button class="btn btn-danger" id="cancel">취소</button>
        </div>
    </form>
</div>
</body>
</html>