<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    {% load static %}
    <script src= "{% static 'js/signup.js' %}"></script>

    <!--    &lt;!&ndash; 합쳐지고 최소화된 최신 자바스크립트 &ndash;&gt;-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->

</head>
<body>
<div class="signup__container">
    <div class="signup__container__logo"><h1>Sign up</h1></div>
    <form id="register_form" method="post" action="/signupCompleted" method="post">
        {% csrf_token %}

        <div class="signup__container__id">
            <input id="container__id" type="text" value="" placeholder="아이디" name="container__id">
        </div>

        <div class="signup__container__pw">
            <input id="container__pw"  type="password" placeholder="비밀번호" name="container__pw"></div>
        <div class="signup__container__chkpw">
            <input id="container__chkpw" type="password" placeholder="비밀번호 확인" value="" name="container__chkpw">
        </div>
        <div class="signup__container__name">
            <input id="container__name" type="text" placeholder="이름" value="" name="container__name">
        </div>
        <div class="signup__container__email">
            <input id="container__email"  type="email" placeholder="email" value="" name="container__email">
        </div>


{#        추후 추가될 email#}
{#        <div class="signup__container__email">#}
{#            <input type="text" id="email__id" value="">#}
{#            @#}
{#            <input type="text" id="email__domain">#}
{#            <select id="email__selection" onchange="changeEmailDomain()">#}
{#                <option value="" selected="selected">--선택하세요--</option>#}
{#                <option value="naver.com"></option>#}
{#                <option value="daum.net"></option>#}
{#                <option value="gmail.com"></option>#}
{#            </select>#}
{#            <input id="container__email"  type="email" placeholder="email" value="">#}
{#        </div>#}

        <div class="signup__container__phonenum">
            <input id="container__phonenum"  type="tel" placeholder="전화번호" value="" name="container__phonenum">
        </div>
        <div class="signup__container__birth">
            <input id="container__birth" type="date" placeholder="생년월일" value="" name="container__birth">
        </div>
        <div class="signup__container__signup">
            <button class="btn btn-info" id="signup__btn" onclick="registUsr()">회원가입</button>
            <button class="btn btn-danger" id="cancel__btn" onclick="cancel()" >취소</button>
        </div>
    </form>
</div>
</body>
</html>