<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodge.kr : 회원가입</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    {% load static %}
    <script src= "{% static 'js/signup.js' %}"></script>

    <!--    &lt;!&ndash; 합쳐지고 최소화된 최신 자바스크립트 &ndash;&gt;-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->

</head>
<body>
<div class="signup__container">
    <div class="signup__container__logo"><h1>Sign up</h1></div>
    <form id="register_form" method="post" action="/signupCompleted" method="post">
        {% csrf_token %}
        <div class="signup__container__id">
            <div class="container__logo">아이디</div>
            <input id="container__id" type="text" value="" name="container__id" onchange="inputIdChange()">
            <div class="id__check" onclick="idCheck()">중복확인</div>
            <div id="idcheck__result"></div>
        </div>
        <div class="signup__container__pw">
            <div class="container__logo">비밀번호</div>
            <input id="container__pw"  type="password" name="container__pw" onchange="passwordCheck()"></div>
            <div id="password__result"></div>
        <div class="signup__container__chkpw">
            <div class="container__logo">비밀번호 확인</div>
            <input id="container__chkpw" type="password" value="" name="container__chkpw" onchange="passwordCheck()">
            <div id="passwordcheck__result"></div>
        </div>
        <div class="signup__container__name">
            <div class="container__logo">이름</div>
            <input id="container__name" type="text" value="" name="container__name">
            <div id="namecheck__result"></div>
        </div>

        <div class="signup__container__email">
            <div class="container__logo">이메일</div>
            <input type="text" id="email__id" value="" name="email__id">
            @
            <select id="email__domain" name="email__domain">
                <option value="" selected="selected">--선택하세요.--</option>
                <option value="naver.com">naver.com</option>
                <option value="daum.net">daum.net</option>
                <option value="gmail.com">gmail.com</option>
                <option value="hanmail.com">hanmail.com</option>
            </select>
            <div id="emailcheck__result"></div>
        </div>

        <div class="signup__container__phonenum">
            <div class="container__logo">전화번호</div>
            <input id="container__phonenum" placeholder="01012345678" type="tel" value="" name="container__phonenum">
            <div id="phonenumcheck__result"></div>
        </div>
        <div class="signup__container__birth">
            <div class="container__logo">생년월일</div>
            <input id="container__birth" type="date" value="" name="container__birth">
            <div id="birthcheck__result"></div>
        </div>
        <div class="signup__container__signup">
            <div class="btn btn-info" id="signup__btn" onclick="registUsr()">회원가입</div>
            <a class="btn btn-danger" id="cancel__btn" href="/login">취소</a>
        </div>
    </form>
</div>
</body>
</html>