{% extends 'base.html' %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Dodge.kr : 커뮤니티</title>
        {% load static %}
        <script type="text/javascript"> var insertCommentHref = "{% url 'insertComment' %}" </script>
        <script type="text/javascript"> var username = "{{ user.id }}" </script>
        <script type="text/javascript"> var boardId = "{{ boardId }}" </script>
        <link rel="stylesheet" href="{% static 'css/viewboard.css' %}">
        <script src="{% static 'js/viewboard.js' %}"></script>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>

    {#    자유 게시판#}

    <div style="display: none">{{ board.updateViewcount }}</div>
    <section class="container__viewboard">
        <div class="container__board__wrap">
            <div class="board__title">
                <h3>커뮤니티 : 리그오브레전드와 관련된 글을 자유롭게 쓸 수 있는 공간입니다.</h3>
            </div>

            <div class="container__board">
                <div>
                    <div class="board__info">
                        <div class="board__info__title"><h3>{{ board.title }}</h3></div>
                        <div class="board__info__writer">
                            <h5>
                                <span class="info__writer">{{ board.user.username }}</span>
                                <span class="info__date">2021.03.27 18:58:40</span>
                                <span class="info__viewcount">조회 : {{ board.view_count }}</span>
                                {% if board.user|striptags == user|striptags %}
                                    <span class="info__boardbtn">
                                    <span class="btn__boardrevise"><a
                                            href="{% url 'editBoard' boardId %}">수정</a></span>
                                    <span class="btn__boarddelete"><a
                                            href="{% url 'deleteBoard' boardId %}">삭제</a></span>
                                </span>
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="board__content">
                {{ board.content }}
                <div class="content__recommend">
                    <div class="recommend__left">추천</div>
                    <div class="recommend__right">비추</div>
                </div>
            </div>
            <div class="container__comments">


                {% if user.is_authenticated %}
                    <form action="" id="comments__form">
                        {% csrf_token %}
                        <div class="comment__title">댓글</div>
                        <div class="comment__inputdiv__authenticated">
                            <textarea name="comment__textarea" id="comment__textarea" cols="30" rows="10"
                                      class="comment__input"
                                      placeholder="댓글을 입력해주세요."></textarea>
                            <div class="btn btn-default" onclick="insertComment()">등록</div>
                        </div>
                    </form>
                {% else %}
                    <div class="comment__inputdiv__none">
                        <div>댓글 작성을 위해서는 로그인이 필요합니다.</div>
                    </div>
                {% endif %}

                <div class="comment__table">
                    <table class="table table-hover" id="commentTable" name="commentTable">
                        <tbody>
                        {% for comments in boardComment %}
                            <tr>
                                <td>{{ comments.content }}</td>
                                <td>{{ comments.user.username }}</td>
                                <td>{{ comments.registered_date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}