{% extends 'base.html' %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Dodge.kr : 게시글</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/viewboard.css' %}">
    </head>

    <section class="container__viewboard">

        <div class="container__category">
            커뮤니티
        </div>

        <div class="container__board">
            <div>

                <div class="board__info">
                    <div class="board__info__title"><h3>{{ board.title }}</h3></div>
                    <div class="board__info__writer">
                        <h5>
                            <span class="info__writer">{{ username }}</span>
                            <span class="info__date">2021.03.27 18:58:40</span>
                        </h5>
                    </div>
                </div>

                <div class="board__content">
                    {{ board.content }}
                    <div class="content__recommend">
                        <div class="recommend__left">추천</div>
                        <div class="recommend__right">비추</div>
                    </div>
                </div>
                <div class="container__comments">
                    댓글

                    <div class="comment__table">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>이재명이 그렇게 좋냐</td>
                                <td>전이삭</td>
                            </tr>
                            <tr>
                                <td>윤석열이 그렇게 좋냐</td>
                                <td>조재형</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
    </section>

{% endblock %}
