/*container__board*/
.container__board {
    background: var(--color-white);
    /*position: relative;*/
    width: 1450px;
    margin: 0 auto;
    padding-top: 8px;
}


/*container__board__wrap*/
.container__board__wrap {
    margin: 20px auto 0;
    width: 1160px;
    height: 1300px;
}


/*left__board*/
.left__board {
    width: 840px;
    float: left;
}

/*board__title*/
.board__title {
    text-align: left;
    margin-bottom: 30px;
}


/*board__table*/
table {
    text-align: left;
}


/*board__page*/



/*board__search*/



/*right__board*/
.right__board {
    float: right;

    /*width: 840px;*/
    /*width: 300px;*/

    width: 280px;
    margin-top: 80px;
}


.board__table__title, .notify__title {
    font-size: var(--font-regular);
    border-bottom: 2px solid var(--color-black);
    margin-bottom: 2px;
    text-align: left;
}


.right__board__user, .right__board__popular {
    border: solid 1px var(--color-light-grey);
    margin-bottom: 30px;
}


#board__user__login{
    margin: 10px 0px;
}

