/* Global */
:root{
    /* Color */
    --color-white:#ffffff;
    --color-light-white:#eeeeee;
    --color-dark-white:#bdbdbd;
    --color-ocean:#0174DF;
    --color-dark-ocean:#013ADF;
    --color-red: #CD1F48;
    --color-dark-pink:#ff6863;
    /*--color-black:#4d4d4d;*/
    --color-dark-grey: #4d4d4d;
    --color-light-grey:#7c7979;
    --color-blue:#73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black:#000000;

    /* Font size */
    --font-large:48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:14px;


    /* font-weight */
    --weight-bold: 700;
    --weight-semi-bold:600;
    --weight-regular:400;

    /* Size */
    --size-border-radius:10px;

    /* animation--duration */
    --animation-duration:300ms;


}



/*universal tags*/
*{

}

body{
    background-color: var(--color-light-grey);
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    padding-left: 0;
    list-style: none;
}

section{
    text-align: center;
    padding: 32px 0px;
}



/*logincontainer*/
.logincontainer{
    text-align: center;
    position: relative;
    margin: 180px 600px 200px 600px;
    min-width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--color-white);
}



/*logincontainer__logo*/
.logincontainer__logo{
    padding-top: 20px;
    padding-bottom:40px;
    font-weight: 700;
}



.logincontainer h1{
    font-weight: 700;
}



/*logincontainer__id,logincontainer__pw*/
.logincontainer__id,.logincontainer__pw{
    padding-top: 20px;
    padding-bottom: 20px;
}



.logincontainer__id input,.logincontainer__pw input{
    font-size: 20px;
    border: none;
    border-bottom: solid 1px;
}




/*logincontainer__id*/



/*logincontainer__pw*/



/*logincontainer__forgetpw,logincontainer__signin*/
.logincontainer__forgetpw,.logincontainer__signin{
    color: var(--color-blue);
    padding-bottom: 20px;
    display: block;
}



/*logincontainer__forgetpw*/
.logincontainer__forgetpw{

}


/*logincontainer__signup*/
.logincontainer__signup{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}



#signupbtn{
    width: 50%;
    height: 40px;
}



/*logincontainer__signin*/
.logincontainer__signin{

}



.wrong__signin{
    color:var(--color-red);

}