/*container__1*/
.container__1{
    /*width: 1080px;*/
    /*margin: 0px auto;*/
}


/*logo*/
#logo{
    height: 300px;
}


/*search*/
.search__searchbar__summonersearch{
    width: 624px;
    height: 50px;
}


/*board*/
#board{
    height: 300px;
}



/*!*footer*!*/
/*#footer{*/
/*    background: var(--color-dark-grey);*/
/*    color: var(--color-white);*/
/*}*/