/* Global */
:root{
    /* Color */
    --color-white:#ffffff;
    --color-light-white:#eeeeee;
    --color-dark-white:#bdbdbd;
    --color-ocean:#0174DF;
    --color-dark-ocean:#013ADF;
    --color-dark-pink:#ff6863;
    /*--color-black:#4d4d4d;*/
    --color-dark-grey: #4d4d4d;
    --color-light-grey:#7c7979;
    --color-blue:#73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black:#000000;

    /* Font size */
    --font-large:48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:14px;


    /* font-weight */
    --weight-bold: 700;
    --weight-semi-bold:600;
    --weight-regular:400;

    /* Size */
    --size-border-radius:10px;

    /* animation--duration */
    --animation-duration:300ms;

}



/*universal tags*/
*{

}

body{
    background-color: var(--color-light-grey);
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    padding-left: 0;
    list-style: none;
}

section{
    text-align: center;
    padding: 32px 0px;
}



/*common*/
.signup__container__id,.signup__container__pw,.signup__container__chkpw, .signup__container__name,
.signup__container__email, .signup__container__phonenum, .signup__container__birth{
    padding-top: 20px;
    padding-bottom: 20px;
}



/*signup__container*/
.signup__container{
    text-align: center;
    position: relative;
    margin: 180px 600px 200px 600px;
    min-width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--color-white);
}


.signup__container input{
    font-size: 20px;
    border: none;
    border-bottom: solid 1px;
}


.signup__container h1{
    font-weight: 700;
}



/*signup__container__logo*/
.signup__container__logo{
    padding-top: 20px;
    padding-bottom:40px;
    font-weight: 700;
}



/*signup__container__id*/



/*signup__container__pw*/



/*signup__container__chkpw*/



/*signup__container__email*/



/*signup__container__phonenum*/



/*signup__container__birth*/



/*signup__container__signup*/
.signup__container__signup{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}


#signup__btn, #cancel__btn{
    width: 23%;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}


.signup__container__signup{
    padding-top: 40px;
}
