/*common*/
.container__viewboard {
    background: var(--color-white);
    /*margin: 0 60px;*/
    /*padding: 20px 40px;*/
    font-size: var(--font-semimedium);
    /*width: 600px;*/

    background: var(--color-white);
    padding: 0px 40px 0px 40px;
    margin: auto 40px auto 40px;
}


/*container__category*/
.container__category {
    text-align: left;
}


/*container__board*/
.container__board {
    border-top: 2px solid var(--color-black);
}


.board__info {
    text-align: left;
    border-bottom: 1px solid var(--color-light-grey);
    padding-bottom: 10px;
    margin: 16px 0 32px;
}


.board__info__title {
    padding-bottom: 2px;
}


.board__info__writer {
    font-size: 14px;
}


.info__writer {
    padding-right: 10px;
    border-right: 1px solid var(--color-light-grey);
}


.info__date {
    padding-left: 10px;
}

.board__content {
    font-size: 18px;
    text-align: left;
    padding-bottom: 10px;
    margin: 16px 0 32px;
}

.content__recommend {
    width: 280px;
    height: 120px;
    margin: 40px auto 0px;
    padding-top: 19px;
    border: 2px solid var(--color-light-grey);
    border-radius: 2px;
    background: #fff;
    clear: both;
}


.recommend__left, .recommend__right {
    width: 80px;
    padding: 0;
    text-align: center;
    border: solid 1px var(--color-black);
    border-radius: 100%;
    height: 80px;
}


.recommend__left {
    float: left;
    margin-left: 30px;
}


.recommend__right {
    float: right;
    margin-right: 30px;
}


.comment__title {
    /*border-bottom: solid 2px var(--color-black);*/
    padding-bottom: 4px;
    font-size: 18px;
}


.comment__inputdiv {
    padding: 16px 0 16px 0;
    border-top: solid 2px var(--color-black);
    border-bottom: solid 2px var(--color-black);
}


.comment__inputdiv > .btn-default{
    margin-top: 8px;
    float: right;
}


.comment__input {
    width: 100%;
    height: 4em;
    resize: none;
    float: left;
}


/*container__comments*/
.container__comments {
    text-align: left;
}


.comment__table thead {
    display: none;
}