.container__writeboard {
    background: var(--color-white);
    margin: 0 60px;
    padding: 20px 40px;
}

#title {
    font-size: var(--font-semimedium);
    width: 600px;
}


.writeboard__div {
    padding: 33px 68px 40px;
    margin-top: 15px;
    border: 2px solid #d5d5d5;
}


#id {
    padding: 8px;
    height: 372px;
    font-size: var(--font-regular);
}

.writeboard__form {
    text-align: left;
}

.content {
    width: 100%;
}

.writeboard__warning {
    margin: 16px 0px;
}

#content {
    width: 100%
}


textarea {
    width: 100%;
    height: 32em;
    resize: none;
}


#user {
    display: none;
}


#img_file {
    margin: 16px 0px;
}